<!-- PAGE CONTENT -->
<h2>Comment Jouer?</h2>

<ul>
  <li>Créer un compte sur le serveur maître OpenRomu en vous rendant sur <a href="./register.html">cette page</a></li>
  <li>Télécharger la derniere version du jeu via le menu de gauche (Pour l'instant le jeu n'est disponible que pour Windows)</li>
  <li>Aucune installation n'est nécéssaire, dézippez l'archive ou vous le souhaitez.</li>
  <li>Aucun niveau n'a été crée spécialement pour OpenRomu, le jeu arrive donc sans aucune map jouable... Vous pouvez en créer vous même et les partager a la communauté!<br />
    Ou vous pouvez télécharger les anciennes cartes de Romustrike en les téléchargeant depuis les <a href="https://drive.google.com/file/d/1TAoqZlolkS6HS2umc6RhRV05hHUgveG8/view?usp=drive_link">archives ici</a><br />
    Les cartes doivent se trouver dans un dossier appellé "maps", à coté du jeu. (Normalement, extraire l'archive là ou vous avez installé le jeu suffit.)
  <li>Il vous suffit de lancer OpenRomu en utilisant l'executable du jeu.</li>
</ul>
<br /><br />
<p>
  NOTE: Compte tenu que le jeu est récent, et n'est pas (encore?) plébiscité, il est probable que les serveurs en ligne soient déserts.<br />
  Dans ce cas de figure, direction le discord (disponible sur la page d'accueil) pour trouver des partenaires de jeu!<br />
  Pensez a partager le jeu autour de vous pour que la fréquentation augmente.
</p>

<h3>Bon jeu!</h3>
