<!-- PAGE CONTENT -->
<h2>Comment Jouer?</h2>

<ul>
  <li>Créer un compte sur le serveur maître OpenRomu en vous rendant sur <a href="./register.html">cette page</a></li>
  <li>Télécharger la derniere version du jeu dans l'encadré de la barre de navigation gauche du site</li>
  <li>Le jeu n'a pas d'installeur, il vous appartient de le placer la ou vous le souhaitez.</li>
  <li>Télécharger le dernier pack d'assets issu du jeu de base en version v1.7.0 <a href="https://drive.google.com/uc?export=download&id=1whhjyKexWuK67ow_TjcDobTYGxDFV59W">archivé ici</a>
  <li>Dezippez le pack d'assets au même endroit que là ou se trouve le jeu</li>
</ul>

<h3>Enjoy!</h3>
