<html>
    <head>    
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-XGTL9D3T55"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XGTL9D3T55');
        </script>
        <link rel="stylesheet" href="./assets/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    </head>
    <body>
        <div class="app">
            <!-- LEFT MENU -->
            <div class="side-menu">
                <div class="side-header">
                    <span style="display: block; height: 80px;"></span>
                    <img src="./assets/FRFlag.png">
                    <span style="display: block; height: 40px;"></span>
                </div>
                <div class="side-section">
                    <h2 class="side-title">Téléchargement</h2>
                    <p class="version-text">
                        OpenRomu<br />
                        Version 1.0.0
                    </p>
                    <div class="download-container">
                        <a class="download-btn" href="https://drive.google.com/file/d/1unRc8Jr6eiaW4Ty8BnPu7E9lwBOc9ssJ/view?usp=drive_link">
                                TELECHARGER
                        </a>
                    </div>
                    <p class="side-text" style="text-align: justify; text-justify: inter-word;">
                        <b>Avant de lancer le jeu, réferez vous au tutoriel disponible dans la section "Comment Jouer"</b>
                    </p>
                </div>
                <div class="side-section">
                    <h2 class="side-title">Status du Serveur</h2>
                    <p class="side-text">
                        Serveur Maître:<br />
                        <b><span id="server-status">Inconnu</span></b><br />
                        <br />
                        <a href="./register.html"><b>Créer un compte</b></a>
                    </p>
                </div>
                <div class="side-section">
                    <h2 class="side-title">Contact</h2>
                    <p class="side-text">
                        Si vous souhaitez partager des <b>archives</b> ou informations, ou créations avec OpenRomu:<br /><br />
                        <b>Rejoignez notre <a href="https://discord.gg/cm8MvGTj8P">Discord</a><br /><br /></b>
                        <b>Envoyez un mail à <a href="mailto:OpenRomu@gmail.com">OpenRomu@gmail.com</a><br /></b>
                    </p>
                </div>
                <div class="side-section">
                    <h2 class="side-title">Partagez!</h2>
                    <p class="side-text">
                        Vous appréciez OpenRomu ?<br />
                        Parlez-en! Et la fréquentation augmentera.<br />
                    </p>
                </div>
            </div>
            <div class="layout-separator"></div>
            <!-- MAIN CONTAINER -->
            <div class="main-container">
                {{navigation | safe}}
                <div class="orange-line"></div>
                <!-- PAGE CONTENT -->
                <div id="content">{{pageContent|safe}}</div>
            </div>
        </div>
        <script defer>
            fetch('{{MASTER_SERVER_HTTPS}}/hc').then(async (response) => {
                let serverStatus = document.getElementById("server-status");
                if (!response.ok) {
                    serverStatus.style = "color: red;"
                    serverStatus.innerText = "DOWN"
                } else {
                    serverStatus.style = "color: green;"
                    serverStatus.innerText = "UP"
                }
            })
        </script>
    </body>
</html>
