
<!-- NAVIGATION -->
<nav>
    <ul class="menu-container">
        <li class="menu-btn">
            <a class="{{ "menu-active" if page == 'index' else "menu-link" }}" href="./index.html">Accueil</a>
        </li>
        <li class="menu-btn">
            <a class="{{ "menu-active" if page == 'archives' else "menu-link" }}" href="./howtoplay.html">Comment Jouer</a>
        </li>
        <li class="menu-btn">
            <a class="{{ "menu-active" if page == 'archives' else "menu-link" }}" href="./archives.html">Archives</a>
        </li>
        <!--<li class="menu-btn">
            <a class="{{ "menu-active" if page == 'scores' else "menu-link" }}" href="./scores.html">Scores</a>
        </li>-->
    </ul>
</nav>