
<!-- NAVIGATION -->
<nav>
    <ul class="menu-container">
        <li class="menu-btn">
            <a class="{{ "menu-active" if page == 'home' else "menu-link" }}" href="./home.html">Accueil</a>
        </li>
        <li class="menu-btn">
            <a class="{{ "menu-active" if page == 'scores' else "menu-link" }}" href="./scores.html">Scores</a>
        </li>
        <li class="menu-btn">
            <a class="{{ "menu-active" if page == 'archives' else "menu-link" }}" href="./archives.html">Archives</a>
        </li>
    </ul>
</nav>